<div id="passes-container">
  <% @passes.each do |pass| %>
    <div class="pass">
      <p>
        <span><b>Номер пропуска:</b></span> <%= pass.id %>
      </p>
      <p>
        <span><b>Гость:</b></span> <%= pass.visitor_firstname %> <%= pass.visitor_lastname %>
      </p>
      <p>
        <span><b>Номер документа:</b></span> <%= pass.identity_document %>
      </p>
      <p>
        <span><b>Компания:</b></span> <%= pass.visitor_company %>
      </p>
      <p>
        <span><b>Дата посещения:</b></span> <%= pass.visit_date.strftime("%d.%m.%Y") %>
      </p>
      <p>
        <span class="status">Статус:</span> <%= pass.status %>
      </p>
      <p>
        <span><b>Автор:</b></span> <%= pass.user.try(:username) %>
      </p>
      <p>
        <%= link_to 'Подробнее', pass_path(pass), method: :get %>
      </p>
    </div>
  <% end %>
</div>