<div>
  <% @passes.each do |pass| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-text">Номер пропуска: <%= pass.id %></h6>
        <h6 class="card-text"><%= pass.visitor_firstname %> <%= pass.visitor_lastname %></h6>
        <h6 class="card-text"><%= pass.visit_date.strftime("%d.%m.%Y") %></h6>
        <h6 class="card-text">Статус: <%= pass.status %></h6>
      <%= link_to 'Подробнее', pass_path(pass), method: :get %>
      </div>
    </div>
    <br />
  <% end %>
</div>