<div id="passes-container">
  <% @passes.each do |pass| %>
    <div class="pass">
      <p>
        <span><b>Номер пропуска:</b></span> <%= pass.id %>
      </p>
      <p>
        <span><b>Гость:</b></span> <%= pass.visitor_firstname %> <%= pass.visitor_lastname %>
      </p>
      <p>
        <span><b>Дата посещения:</b></span> <%= pass.visit_date.strftime("%d.%m.%Y") %>
      </p>
      <p>
        <span class="status">Статус:</span> <%= pass.status %>
      </p>
      <p>
        <%= link_to 'Редактировать', edit_pass_path(pass), method: :get %> 
        <%= link_to('Согласовать', change_status_pass_path(pass, {status: :approved}), method: :patch, disabled: true) unless pass.status == 'approved' %> 
        <%= link_to('Отклонить', change_status_pass_path(pass, {status: :rejected}), method: :patch, disabled: true) unless pass.status == 'rejected' %>
      </p>
    </div>
  <% end %>
</div>