<h1>Pass</h1>

<p>id: <%= @pass.id %></p>

<p>Name: <%= @pass.visitor_firstname %></p>

<p>Lastname: <%= @pass.visitor_lastname %></p>

<p>Visit date: <%= @pass.visit_date.strftime("%B %d, %Y") %></p>

<p>Status: <%= @pass.status %></p>
      
<p>
  <%= link_to 'Редактировать', edit_pass_path(@pass), method: :get %> 
  <%= link_to('Согласовать', change_status_pass_path(@pass, {status: :approved}), method: :patch, disabled: :true) unless @pass.status == 'approved' %> 
  <%= link_to('Отклонить', change_status_pass_path(@pass, {status: :rejected}), method: :patch, disabled: @pass.status == 'rejected') unless @pass.status == 'rejected' %>
</p>