<!DOCTYPE html>
<html>
  <head>
    <title>SecurityPass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-container">
      <%= render 'include/main/header' %>
      <br />
      <%= render 'include/main/notifications' %>
      <%= yield %>
    </div>
  </body>
</html>
